<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>example</title>
    <style media="screen">
      .se-pre-con {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url(static/img/ripple-red.svg) center no-repeat #fff;
      }
    </style>

    <!-- Angular Material style sheet -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

  </head>
  <body ng-app="personalLoans" ng-controller="MasterCtrl as master" layout="column">

    <div class="se-pre-con" ng-if="master.loading"></div>

    <!-- Container #1 (see wireframe) -->
    <md-toolbar layout="row" class="md-toolbar-tools md-whiteframe-6dp md-hue-2" ng-if="master.authenticated">
      <md-button class="menu md-icon-button" ng-click="master.toggleLeftMenu()"aria-label="menu">
        <md-icon md-svg-src="static/img/business/menu-lines.svg" aria-hidden="true"></md-icon>
      </md-button>
      <h1><span ng-if="master.menu.length">{{master.association.name}} - </span>{{master.toolbar.title}}</h1>
      <span flex></span>
      <md-icon md-svg-src="{{master.toolbar.icon}}" aria-hidden="true"></md-icon>
    </md-toolbar>

    <!-- Container #2 -->
    <div flex layout="row">
      <!-- Container #3 -->
      <div ng-include="'core/menu.html'"></div>

      <!-- Container #4 -->
      <md-content flex id="content" class="color-bkg">
        <!-- Custom UserDetails component -->
        <div ng-view layout-fill></div>
      </md-content>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->

    <!-- Angular Material Library -->


    <!-- build:js({.tmp,app}) scripts/scripts.js -->

    <!-- entity -->

    <!-- endbuild -->

</body>
</html>
